@import "tailwindcss";

.timeline {
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #FFB9A8;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

.container {
  padding: 10px 40px 30px;
  position: relative;
  background-color: inherit;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #FF9F55;
  border: 4px solid #FF9F55;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: 3px solid ;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(255,150,130,.2) transparent transparent;
}

.right::after {
  left: -13px;
}

.content {
  border: 3px solid rgba(255,150,130,.2);
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right {
    left: 0%;
  }

  .right::after {
    left: 18px
  }
}
